*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: ;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

.card-container{
  width: 450px;
  padding: 8px;
  box-shadow: 0 0 30px rgb(212, 212, 212);
  border-radius: 8px;
}
img{
  border-radius: 8px;
}
h1{
  text-align: center;
  background: rgb(0, 28, 28);
  color: white;
  padding: 5px;
}
h2{
  margin-bottom: 10px;
}
p{
  margin-bottom: 10px;
}
strong{
  font-size: 17px;
}

/* Responsive code  */
/* 
@media only screen and (max-width: 1400px) {
  .container{
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 800px) {
  .container{
    grid-template-columns: auto ;
  }
} */